<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="IntactVisionConService" switchValue="All">
        <listeners>
          <add name="console"/>
        </listeners>
      </source>
      <source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
        <listeners>
          <add name="ServiceModelTextFileListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="delimfile"
           type="System.Diagnostics.DelimitedListTraceListener"
           delimiter=";"
           initializeData="Trace_IntactVisionConService.csv"
           traceOutputOptions="ProcessId, DateTime"/>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
      <add name="ServiceModelTextFileListener"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="C:\Logs\ServiceModel_IntactVisionServer.ConService.log"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>
