<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DelayBeforeAcquisition" value="5000"/>
    
    <!--
    <add key="PlcNetId" value="localhost" />
    <add key="PlcPort" value="851" />-->
    <add key="PlcNetId" value="10.1.35.92.1.1" />
    <add key="PlcPort" value="851" />
    <add key="DevIdLoader" value="1" />
    <add key="DevIdIntact" value="2" />
    <add key="DevIdFlipper" value="3" />
    <add key="UsePFlipper" value="true"/>
    
    <add key="FlipTimeoutS" value="60"/>
    <add key="LoadTimeoutS" value="60"/>

    <add key="TransportActionTriggerTimeoutS" value="5" />
    <add key="TransportJobStarterTimeoutS" value="10" />
    <add key="TransportNumberOfJobsWaitingTimeoutS" value="30" />

    <add key="FlipperActionTriggerTimeoutS" value="5" />
    <add key="FlipperBusyTimeoutS" value="30" />

    <add key="DebugFakeHardware" value="false"/>

    <add key="ImageStorePath" value="D:\NIT_ImageStorePath"/>
  </appSettings>
</configuration>